* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fdf5e6;
  color: #4b4b4b;
}

/* 헤더 */
.header {
  width: 100%;
  background-color: #deb887;
  height: 70px;
  margin-bottom: 20px;
}
/* 헤더 안 상자 */
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home,
.login {
  cursor: pointer;
  width: 60px;
}
.cart {
  cursor: pointer;
  width: 55px;
}

.controlBtn {
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.countwrap {
  position: relative;
}
.countbox {
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 2px;
  right: 0px;
  background-color: #acacac;
  border-radius: 50%;
}
.count {
  color: white;
  text-align: center;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  background-color: #fffaf0;
  max-width: 1280px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.iconimg {
  width: 90px;
  padding: 20px;
  cursor: pointer;
}
.itemimg {
  width: 200px;
}
.tungbox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tungimg {
  width: 50%;
}
