* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fdf5e6;
  color: #4b4b4b;
}

/* 헤더 */
.header {
  z-index: 999;
  width: 100%;
  background-color: #deb887;
  height: 120px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* 헤더 안 상자 */
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.iconbox {
  height: 100%;
  display: flex;
  align-items: center;
}
.home {
  cursor: pointer;
  padding: 5px;
  height: 100%;
}
.login {
  cursor: pointer;
  width: 100px;
  padding: 15px;
  height: 100%;
}
.cart {
  cursor: pointer;
  width: 100px;
  padding: 15px;
  height: 100%;
}

.controlBtn {
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.countwrap {
  position: relative;
}
.countbox {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 18px;
  right: 10px;
  border-radius: 50%;
  display: none;
  background-color: #8f6228;
}
.count {
  color: white;
  text-align: center;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  background-color: #fffaf0;
  max-width: 1280px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.iconimg {
  width: 90px;
  padding: 20px;
  cursor: pointer;
}
.itemimg {
  max-width: 200px;
}
.tungbox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tungimg {
  width: 50%;
}
.alldeletebtn {
  display: block;
  margin: 50px auto;
  padding: 10px 20px;
  font-size: large;
  background-color: #deb887;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.alldeletebtn:hover {
  background-color: #bc8f8f;
}
.mainwrap {
  margin-top: 150px;
}

.subtitle {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: bolder;
  font-size: 2em;
}

/* 예시 */
.titlebox {
  margin-bottom: 10px;
  word-wrap: break-word;
}
.flexwrap {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
}
.itemcart {
  width: 60%;
}
.flexbox2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffaf0;
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.flexbox2-2 {
  display: flex;
  width: 90%;
}
.pricewrap {
  width: 40%;
  height: auto;
}
.pricebox {
  position: sticky;
  top: 130px;
  margin: 10px 0 10px 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffaf0;
}
.itemimg {
  width: 100%;
  height: auto;
  max-width: 700px;
}
.imgbox {
  width: 40%;
  margin: auto;
}
.textbox {
  width: 60%;
  margin: auto 15px;
  max-width: 200px;
}
.imgbox2 {
  margin: auto;
  img {
    max-width: 35px;
    padding: 0;
  }
}
.amountbox {
  white-space: nowrap;
}
.amount {
  text-align: center;
  border: none;
  outline: none;
}
.name {
  font-weight: bolder;
  font-size: larger;
}
.totalprice {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.buybtn {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  font-size: medium;
  background-color: #deb887;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.buybtn:hover {
  background-color: #bc8f8f;
}
.minus,
.plus {
  border: none;
  cursor: pointer;
  background-color: #deb887;
  color: #fff;
  border-radius: 2px;
  font-size: medium;
}
.plus:hover,
.minus:hover {
  background-color: #bc8f8f;
}
.minus:disabled {
  background-color: gray;
}

@media (max-width: 768px) {
  .flexbox2-2 {
    display: block;
    width: 100%;
  }
  .flexbox2 {
    display: block;
    width: 100%;
  }
  .imgbox2 {
    display: flex;
    justify-content: end;
    img {
      max-width: 30px;
      margin: 10px 0 0 0;
    }
  }
  .textbox {
    width: 100%;
    margin: 0;
    max-width: fit-content;
  }
  .imgbox {
    width: 100%;
  }
  .titlebox {
    word-wrap: normal;
  }
}
