.title2,
.content,
.price,
.fontchange {
  font-family: "Gowun Dodum", serif;
  font-weight: 500;
  font-style: normal;
}
.fontchange {
  margin-bottom: 5px;
}

/* 헤더 */
.header {
  width: 100%;
  background-color: #deb887;
  height: 120px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* 헤더 안 상자 */
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.iconbox {
  height: 100%;
  display: flex;
  align-items: center;
}
.home {
  cursor: pointer;
  padding: 5px;
  height: 100%;
}
.login,
.cart {
  cursor: pointer;
  width: 70px;
  margin: 8px;
  height: 100%;
}

.controlBtn {
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.countwrap {
  position: relative;
}
.countbox {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 12px;
  right: 10px;
  border-radius: 50%;
  display: none;
  background-color: #8f6228;
}
.count {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrap {
  width: 100%;
  margin-top: 150px;
  flex: 1;
}
.text2 {
  max-width: 1280px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 auto;
  background-color: #fffaf0;
  display: flex;
  .title2 {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bolder;
  }
}
/* 상품 이미지 크기조절 */
.imgbox2 {
  margin: 0 auto;
}
.img2 {
  width: 100%;
  height: auto;
  max-width: 500px;
}
.flexbox2 {
  margin: auto;
  padding: 0 10px;
}

.content {
  margin-bottom: 20px;
}
.price {
  margin-bottom: 10px;
}

.btn2 {
  padding: 10px 20px;
  background-color: #deb887;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn2:hover {
  background-color: #bc8f8f;
}

@media screen and (max-width: 860px) {
  .main-wrap {
    margin-top: 120px;
  }
  .header {
    height: 100px;
  }
  .home {
    width: 100px;
    height: auto;
  }
  .login,
  .cart {
    width: 60px;
    margin: 5px;
  }
  .countbox {
    width: 20px;
    height: 20px;
    bottom: 9px;
    right: 6px;
    font-size: small;
  }
}
@media screen and (max-width: 650px) {
  .text2 {
    display: block;
  }
  .main-wrap {
    margin-top: 100px;
  }
  .header {
    height: 80px;
  }
  .home {
    width: 90px;
    height: auto;
  }
  .login,
  .cart {
    width: 50px;
    margin: 3px;
  }
  .countbox {
    width: 18px;
    height: 18px;
    bottom: 5px;
    right: 3px;
  }
}
