/* 헤더 */
.header {
  z-index: 999;
  width: 100%;
  background-color: #deb887;
  height: 120px;
  position: fixed;
  top: 0;
}
.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* 헤더 안 상자 */
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.home {
  cursor: pointer;
  padding: 5px;
  height: 100%;
}

.login,
.cart {
  cursor: pointer;
  width: 70px;
  margin: 8px;
  height: 100%;
}

.controlBtn {
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.countwrap {
  position: relative;
}
.countbox {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 12px;
  right: 10px;
  border-radius: 50%;
  display: none;
  background-color: #8f6228;
}
.count {
  color: white;
  text-align: center;
}
.iconbox {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-wrap {
  width: 100%;
  margin-top: 150px;
}

/* 시작 */
.menus {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}
.menus div {
  font-size: 17pt;
  font-weight: 400;
  padding: 15px 25px;

  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

li {
  list-style-type: none;
}
li div {
  cursor: pointer;
  margin: 0 20px;
}
.navbar div {
  padding: 5px 0;
}

.navbar div:before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 5px 0;
  max-width: 0;
  border-bottom: 2px solid #c8a755;
  color: #c8a755;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.navbar div:hover:before,
.navbar div:focus:before {
  max-width: 100%;
}
/* 활성화된 메뉴 */
.checked {
  border-bottom: 2px solid #c8a755;
  color: #c8a755;
  content: attr(data-hover);
}

/* 끝 */

.menu {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.tungbox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tungimg {
  width: 50%;
}

/* 상품 이미지 크기조절 */
.imgbox {
  border-radius: 8px;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
}
.imgs {
  width: 200px;
  height: 200px;
  padding: 40px;
}

.box {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffaf0;
}
.box:hover {
  cursor: pointer;
  .imgs {
    transition: 0.5s ease-in-out;
    transform: scale(1.2);
  }
}
.textbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;
  font-weight: bolder;
}
.happyimg {
  width: 20px;
  cursor: pointer;
  display: flex;
}

#top-btn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
  cursor: pointer;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.on {
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #714711;
  opacity: 0.8;
  width: 100%;
  padding: 20px;
  top: 104px;
  left: 0;
}
.fix {
  position: fixed;
  z-index: 998;
}

@media screen and (max-width: 1200px) {
  .menu {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 860px) {
  .main-wrap {
    margin-top: 120px;
  }
  .header {
    height: 100px;
  }
  .home {
    width: 100px;
    height: auto;
  }
  .login,
  .cart {
    width: 60px;
    margin: 5px;
  }
  .countbox {
    width: 20px;
    height: 20px;
    bottom: 9px;
    right: 6px;
    font-size: small;
  }
  .menu {
    grid-template-columns: repeat(3, 1fr);
  }
  .menus div {
    font-size: 12pt;
    padding: 0px;
  }
  .navbar div {
    padding: 5px 0;
  }
  #top-btn {
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
  }
  .on {
    top: 84px;
    padding: 15px;
  }
}
@media screen and (max-width: 650px) {
  .main-wrap {
    margin-top: 100px;
  }
  .header {
    height: 80px;
  }
  .home {
    width: 90px;
    height: auto;
  }
  .login,
  .cart {
    width: 50px;
    margin: 3px;
  }
  .countbox {
    width: 18px;
    height: 18px;
    bottom: 5px;
    right: 3px;
  }
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .menus div {
    font-size: 10pt;
  }
  .navbar div {
    padding: 5px 0;
  }
  #top-btn {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
  }
  .on {
    top: 64px;
    padding: 10px;
  }
}
