/* 헤더 */
.header {
  width: 100%;
  background-color: #deb887;
  height: 120px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* 헤더 안 상자 */
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* 각 아이콘의 박스 */
.iconbox {
  height: 100%;
  display: flex;
  align-items: center;
}

/* 로고 아이콘 */
.home {
  cursor: pointer;
  padding: 5px;
  height: 100%;
}

/* 로그인 아이콘 + 장바구니 아이콘 */
.login,
.cart {
  cursor: pointer;
  width: 70px;
  margin: 8px;
  height: 100%;
}
/* 로그인 + 장바구니 상자 */
.controlBtn {
  display: flex;
  align-items: center;
  margin: 0 8px;
}

/* 장바구니 + 숫자 박스 */
.countwrap {
  position: relative;
}
/* 장바구니 숫자 박스 */
.countbox {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 12px;
  right: 10px;
  border-radius: 50%;
  display: none;
  background-color: #8f6228;
}
/* 장바구니 숫자 */
.count {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 등록하는 부분 + 등록된 상품들 */
.input-wrap,
.main-wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fffaf0;
}

.input-wrap {
  margin-bottom: 20px;
  margin-top: 150px;
}

.input-wrap input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #d2b48c;
  border-radius: 6px;
  background-color: #fefae0;
}

.input-wrap input:focus {
  outline: none;
  border: 2px solid #ff8c00;
}

.input-wrap div {
  font-size: 12px;
  color: #b22222;
  margin-bottom: 10px;
}

/* type 선택 부분 */
.selectbox {
  margin-bottom: 10px;
  padding: 10px;
}

select {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  padding: 0.4em 1.1em 0.2em 0.2em;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
select:focus {
  outline: 2px solid #ff8c00;
}
option {
  padding: 4px;
  font-size: 14px;
  color: #fff;
  background: #272822;
}

/* 상품 이미지 크기조절 */
.imgbox {
  margin: 0 auto;
}
.imgs {
  max-width: 100%;
  object-fit: contain;
  height: 150px;
}

/* 버튼 */
.btn {
  display: block;
  margin-left: auto;
  padding: 10px 20px;
  background-color: #deb887;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #bc8f8f;
}

button:disabled {
  cursor: not-allowed;
  background-color: gray;
}
button[disabled]:hover {
  background-color: gray;
}

/* 동적으로 생긴 테이블 */
.main-wrap table {
  table-layout: fixed;
  word-wrap: break-word;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  border: 1px solid #d2b48c;
  padding: 10px;
  text-align: center;
}

table thead {
  background-color: #f5deb3;
  text-align: center;
}

/* 생긴인풋 */
.c {
  font-size: large;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 2px 2px 2px rgb(240, 240, 240);
}
/* 수정, 삭제 */
.changebtn {
  padding: 10px 20px;
  margin: 2px;
  background-color: #deb887;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.changebtn:hover {
  background-color: #bc8f8f;
}

/* 조건 확인 */
.changecar {
  font-size: 12px;
  color: #b22222;
}

/* 관리 버튼 상자 */
.flexbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 860px) {
  .input-wrap {
    margin-top: 120px;
  }
  .header {
    height: 100px;
  }
  .home {
    width: 100px;
    height: auto;
  }
  .login,
  .cart {
    width: 60px;
    margin: 5px;
  }
  .countbox {
    width: 20px;
    height: 20px;
    bottom: 9px;
    right: 6px;
    font-size: small;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    text-align: center;
  }
  .changebtn {
    padding: 10px 10px;
  }
  .flexbtn {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .input-wrap {
    margin-top: 100px;
  }
  .header {
    height: 80px;
  }
  .home {
    width: 90px;
    height: auto;
  }
  .login,
  .cart {
    width: 50px;
    margin: 3px;
  }
  .countbox {
    width: 18px;
    height: 18px;
    bottom: 5px;
    right: 3px;
  }
}
